# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
/.vs
/LoadSelfMix/Release/LoadSelfMix.tlog
*.pdb
*.ipdb
*.iobj
/LoadSelfMix/Debug
/LoadSelfMix/Release/LoadSelfMix.dll.recipe
/Release/使用方法.txt
/Release/模型包加载器.zip
/Release/cyfb_model_pack_loader.mix
